
.signup-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signup-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.signup-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

/* Stilul butoanelor */
.signup-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #0056b3;
}

/* Alte stiluri pot fi adăugate după necesități */
